^.*\.Rproj$
^\.Rproj\.user$
.Rhistory
.RData
.Ruserdata
.DS_Store
tests
help
.DS_Store
.Rproj.user
.Rproj.user/5EFA356D/console06/INDEX001
.Rproj.user/5EFA356D/pcs/files-pane.pper
.Rproj.user/5EFA356D/pcs/source-pane.pper
.Rproj.user/5EFA356D/pcs/windowlayoutstate.pper
.Rproj.user/5EFA356D/pcs/workbench-pane.pper
.Rproj.user/5EFA356D/persistent-state
.Rproj.user/5EFA356D/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
inProgress
nwm_comp.gif
